@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    @apply xl:w-[1200px] mx-auto
}

.active {
    @apply hover:text-primaryColor
}


ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}


.hide-scrollbar::-webkit-scrollbar {
    width: 0;
}

